 {% extends "suunnitelmat/default.html" %} {% block content %}
<div>
    <div>
        <form method="POST" action="{{base_path}}/addchore">
            <div class="form-group">
                <p>Askare <input name="name" class="form-control" type="text"></p>
            </div>
            <div class="form-group">
                <p>Tiedot </p>
                <textarea name="info" class="form-control" type="text"></textarea>
            </div>
            <div class="form-group">
                <p>Deadline <input name="deadline" class="form-control" type="text"></p>
            </div>
            <div class="form-group">
                <p>Tärkeysaste <input name="tarkeysaste" type="text"></p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lisää</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}