 {% extends "suunnitelmat/default.html" %} {% block content %}
 <h2>{{message}}</h2>
<div class="row">
    <div class="col-md-6">
        <h1>{{chore.name}}</h1>
        <p>Tiedot: {{chore.info}}</p>
        <p>Deadline: {{chore.deadline}}</p>
        <ul>
            {% for class in classes %}
            <li>{{class.name}}</li>
            {% endfor %}
        </ul>
        <p>Tärkeysaste: {{chore.importancedegree}}</p>
        <a href="{{base_path}}/chore/{{chore.id}}/edit">Muuta tietoja</a>
    </div>
    <div class="col-md-6">
        <h2>Luokat</h2>
        <ul>
            {% for category in categories %}
            <li>{{category.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}