<!DOCTYPE html>
<html>
    <head>
        <title>Askare</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha">Etusivu</a></li>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha/signup">Rekisteröidy</a></li>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha/logout">Kirjaudu ulos</a></li>
            </ul>
        </nav>
        <div>
            <h1>Tiedot</h1>
            <p>Askare <input name="chore" type="text"></p>
            <p>Tiedot <input name="details" type="text"></p>
            <p>Deadline <input name="deadline" type="text"></p>
            <input name="sendInformation" type="submit">
            <h2>Lisää luokka</h2>
            <input name="class" type="text">
            <input name="sendClass" type="submit">
            <h1>Lisää tärkeysastetta</h1>
            <input name="sendPrioritize" type="submit">
        </div>
    </body>
</html>
