<!DOCTYPE html>
<html>
    <head>
        <title>Kirjautuminen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="http://hanranti.users.helsinki.fi/tsoha">Muistilista</a></li>
                <li><a href="http://hanranti.users.helsinki.fi/tsoha/signin">Rekisteröidy</a></li>
                <li><a href="http://hanranti.users.helsinki.fi/tsoha/logout">Kirjaudu ulosg</a></li>
            </ul>
        </nav>
        <div>
            <p>
                <label>Käyttäjätunnus</label>
                <input name="Käyttäjätunnus" type="text">
            </p>
            <p>
                <label>password</label>
                <input name="password" type="password" ng-model="password">
            </p>
            <button>Kirjaudu</button>
        </div>
    </body>
</html>
