<!DOCTYPE html>
<html>
    <head>
        <title>logout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha">Etusivu</a></li>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha/signup">Rekisteröidy</a></li>
                <li><a href="http://hanranti.users.cs.helsinki.fi/tsoha/logout">Kirjaudu ulos</a></li>
            </ul>
        </nav>
        <div>
            <p>Olet nyt kirjautunut ulos palvelusta.</p>
        </div>
    </body>
</html>
