{% extends "suunnitelmat/default.html" %} {% block content %}
<div>
    <h1>Rekisteröidy:</h1>
    <p>
        <label>Käyttäjätunnus</label>
        <input name="Käyttäjätunnus" class="form-control" type="text">
    </p>
    <p>
        <label>Salasana</label>
        <input name="password1" class="form-control" type="password">
    </p>
    <p>
        <label>Salasana uudestaan</label>
        <input name="password2" class="form-control" type="password">
    </p>
    <button class="btn btn-success">Rekisteröidy</button>
</div>
{% endblock %}