{% extends "suunnitelmat/default.html" %}
{% block content %}
<div>
    <h1>Rekisteröidy:</h1>
    <p>
        <label>Käyttäjätunnus</label>
        <input name="Käyttäjätunnus" type="text">
    </p>
    <p>
        <label>Salasana</label>
        <input name="password1" type="password" ng-model="password1">
    </p>
    <p>
        <label>Salasana uudestaan</label>
        <input name="password2" type="password" ng-model="password2" ng-required ng-match="password1">
    </p>
    <button class="btn btn-success">Rekisteröidy</button>
</div>
{% endblock %}