{% extends "suunnitelmat/default.html" %}
{% block content %}
<div>
    <h1>Muistilista</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Askare</th>
                <th>Tiedot</th>
                <th>Tärkeysaste</th>
                <th>Luokat</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            {% for chore in chores %}
            <tr>
                <td><a href="http://hanranti.users.cs.helsinki.fi/tsoha/chore/{{chore.id}}">{{chore.name}}</a></td>
                <td>{{chore.info}}</td>
                <td>{{chore.tarkeysaste}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Muistilista luokittain</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Luokka</th>
                <th>Askare</th>
                <th>Tiedot</th>
                <th>Tärkeysaste</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>
{% endblock %}